{% extends "base.html" %}

{% block title %}RW Estruturas Metálicas, Portões e Carretas{% endblock %}

{% block content %}
<section class="hero-fullscreen">
    <div class="hero-content">

        <div class="logo-hero-wrapper">
            <img src="{{ url_for('static', filename='img/logo_rw.png') }}" alt="RW Estruturas Metálicas Logo" class="hero-logo-img">
        </div>

        <div class="hero-contact">
            Contato: <a href="tel:+5518996935454">(18) 9 9693 5454</a>
        </div>

        <div class="hero-text">
            <h1>Qualidade e Durabilidade em Aço</h1>
            <p>Soluções sob medida em estruturas metálicas, portões e carretas.</p>
        </div>

    </div>
</section>
{% endblock %}